.card{
    border: 1px solid white;
    margin: 10px 0;
    padding: 20px;
}
.card-main-div{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    text-align: start;
}
.btn-add-list{
   background-color: white; 
   border: 1px solid black;
   margin-left: 5px;
   font-weight: 500;
}
.full-div{
    margin-top: 10%;
}
.image-div{
    margin-left: 60%;
}